@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/breakpoints';
@import 'base/vendor';

@include breakpoints(
  (
    wide: (
      1281px,
      1680px,
    ),
    normal: (
      737px,
      1280px,
    ),
    mobile: (
      481px,
      736px,
    ),
    mobilep: (
      null,
      480px,
    ),
  )
);

#gallery-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  margin: 0rem;
}

.gallery-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 40rem;
  padding: 0 1rem;
  outline: 3px solid #333;
}

.gallery-controls {
  cursor: pointer;
}

.carousel-control-icon {
  font-size: _size(nav-icon) * 1.1;
  color: #bfbfbf;
  transition: color 0.5s;
}

.carousel-control-icon:hover {
  color: #fff;
}

#image-track {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: 55vmin;
  object-fit: cover;
  object-position: 100% center;
  cursor: pointer;
}

.image:not(:last-child) {
  width: 40vmin;
}

.imgContainer h2 {
  font-weight: 700;
  transition: color 0.5s;
  cursor: pointer;
  letter-spacing: 0.11em;
  text-align: center;
}

.imgContainer h2:hover {
  color: #fff9e5;
}

a {
  border-bottom: 1px solid #fff;
}

/* Wide */

@include breakpoint('<=wide') {
}

/* Normal */

@include breakpoint('<=normal') {
  .image {
    height: 45vmin;
  }
}

/* Mobile */

@include breakpoint('<=mobile') {
  .image {
    height: 40vmin;
  }
}

/* Mobile (Portrait) */

@include breakpoint('<=mobilep') {
}
